.copyright {
  color: white;
  text-align: center;
  padding-top: 22px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.fooo {
  background-color: #343a40;
  height: 70px;
  position: relative;
  bottom: -50px;
}

i {
  color: tomato;
}

.visit:link {
  text-decoration: none;
  color: #343a40;
}

.visit:hover {
  color: #0666c5;
  text-decoration: none;
}

a:hover {
  color: #0666c5;
  text-decoration: none;
}
