body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  overflow-x: hidden;
}

.align2 {
  padding-top: 200px;
}
.header-image {
  margin-bottom: 20px;
  padding-bottom: 70px;
}

.featurette-divider {
  margin: 5rem 0;
}

.divider {
  margin: 1.9rem 0;
  border-top: 1px solid white;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
  margin-left: 70px;
}
.featurette-heading2 {
  font-weight: 100;
  line-height: 1;
  letter-spacing: -0.05rem;
  padding-right: 70px;
  padding-top: 125px;
}

.featurette-heading3 {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
  margin-top: 70px;
  margin-left: 70px;
}

.lead {
  margin-left: 75px;
}

.lead2 {
  margin-right: 75px;
}

.lead3 {
  margin-left: 70px;
  margin-bottom: 70px;
}
footer {
  text-align: center;
}
small {
  color: whitesmoke;
  font-size: 15px;
  position: absolute;
  right: 30%;
  left: 30%;
  top: 35%;
}
.box {
  background-color: #343a40;
  position: absolute;
  height: 75px;
  width: 100%;
}

.gallery {
  display: grid;
  margin-block: 20px;
  margin-inline: 16px;
  grid-template-columns: repeat(auto-fit, minmax(20px, 289px));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.gallery img {
  width: 100%;
}

.insta {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 40px;
  color: black;
}

a,
.insta {
  text-align: center;
}

.instalink {
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 50px 0 0 14px;
  color: black;
  display: inline-block;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.responsive2 {
  max-width: 70%;
  height: auto;
}
.responsive3 {
  max-width: 70%;
  height: auto;
  margin-left: 50px;
}
