nav {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

.foot {
  height: 60px;
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

.copyright {
  color: whitesmoke;
}
i {
  color: red;
}
.container-fluid.full-width {
  padding-left: 140px;
  padding-right: 0;
  overflow-x: hidden;
}
.row.row-no-gutter {
  margin: 0;
}
.row.row-no-gutter [class*="col-"] {
  padding: 0;
}
.img-full-width {
  width: 100%;
  height: auto;
}
hr {
  outline: none;
  padding-top: 95px;
}
h1 {
  margin-bottom: 70px;
}
p {
  display: inline;
}
h4 {
  text-align: justify;
}
