<!--Footer Start-->

<div class="fooo">
    <div class="copyright">
      Copyright &copy; All rights reserved | Website designed with <i class="fa fa-heart-o" aria-hidden="true"></i> by
      <a href="https://www.instagram.com/___isaac_newton___/" target="_blank">Manish</a>
    </div>
</div>

<!--Footer End-->