<!--Header Start-->

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#"><img src="./images/brandlogo.png" alt="failed to load image" height="50px"
          width="100px"></a>

      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav mr-sm-4">
          
          <li class="nav-item">
            <a class="nav-link" href="/">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/courses">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teachers">Teachers</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  
<!--Header End-->


  



