<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico" />
    <link rel="stylesheet" href="./css/error.css">
    <title>{{title}}</title>
</head>
<body>

   <div class="container">
  <div class="item1">
    <a href="#" class="error-msg">404 Not Found</a>  
  </div>
     <div class="item2">
      <a href="/">Home</a>
      <a href="/sale">Sale</a>
      <a href="/delivery">Delivery</a>
      <a href="/bill">Bill</a>
     </div>
   </div>

    <div class="main-content">
        <div class="text">
            <h1 class="header-text">I have bad news for you</h1>
            <p class="info-text">The page you are looking for might be <br> removed or is temporarily unavailable</p>
            <a class="borderd" href="/">Come Home</a>
        </div>
        
        <img src="./images/error.png" width="850px" class="error">
    </div>

</body>
</html>