<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="Images/yoga.ico" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/958a37524c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/footer.css">
    <title>{{title}}</title>
  </head>
  <body>

    {{>header}}

 <!--Main Content Start-->
    <!-- Header Image part -->
  <div class="header-image">
    <img src="Images/2.jpg" width="100%">
  </div>
  <hr class="divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        <a class="visit" href="tutorial1.html">
          Gain Full-Body Flexibility Using These 3 Key Yoga Props (Photo Tutorial).
        </a>
      </h2>
      <p class="lead">
        Wondering how to become flexible using yoga? The secret is yoga props!
        Learn how to use three key yoga props to gain flexibility in this photo tutorial.
      </p>
    </div>
    <div class="col-md-5">
      <img class="responsive" src="Images/bg_2.jpg" alt="Generic placeholder image" />
    </div>
  </div>
  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading2">
        <a class="visit" href="tutorial2.html">
          Rock Your Boat Pose With These 7 Fun Navasana Variations.
        </a>
      </h2>
      <p class="lead2">
        Boat Pose (Navasana) challenges your core + leg strength plus your balance +
        stability. These 7 variations will make Navasana your new favorite yoga pose!.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="responsive3" src="Images/intro.jpg" height="338px" alt="Generic placeholder image" />
    </div>
  </div>
  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading3">
        <a class="visit" href="tutorial3.html">
          Practice These 7 Relaxing Yoga Poses to Quickly Calm Your Body and Mind
        </a>
      </h2>
      <p class="lead3">
        When you need to take your energy level down and quiet your thoughts,
        these 7 relaxing yoga poses are the perfect recipe for a calm body and mind.
      </p>
    </div>
    <div class="col-md-5">
      <img class="responsive" src="Images/yogatrans copy.png" alt="Generic placeholder image" width="600px" />
    </div>
  </div>
  </div>
  <hr class="divider" />

  <h1 class="insta">JOIN US ON THE INSTAGRAM LETs HANG<a class="instalink"
      href="https://www.instagram.com/houseofyogaa">@HouseOfYoga
    </a></h1>
  <div class="gallery">
    <img src="Images/insta (6).jpg" />
    <img src="Images/insta (2).jpg" />
    <img src="Images/insta (3).jpg" />
    <img src="Images/insta (4).jpg" />
    <img src="Images/insta (5).jpg" />
  </div>
  </main>

<!--Main Content End-->

  {{>footer}}
 
  </body>
</html>
